@font-face {
    font-family:Kanit-Regular ;
    src: url('/Projeto-Final-IHC/fonts/Kanit-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 10px;
}
  

::-webkit-scrollbar-track {
    background: #443636; 
}
   

::-webkit-scrollbar-thumb {
    background: #BDD7FF; 
}
  

::-webkit-scrollbar-thumb:hover {
    background: #BDD7FF; 
}

body{
    margin: 0;
    overflow-x: hidden;
}

.fundo-imagem{
    background-image: url(/Projeto-Final-IHC/imgs/Rectangle\ 1.png);
    width: 100%;
    height: 956px;
}

.topNav{
    height: 100px;
    background-color: #362A2A;
}

.flex-container-SA {
    display: flex;
    justify-content:space-around;
}

.logo{
    width: 381px;
    height: 84px;
    margin-top: 10px;
    margin-left: -50px;
}

.itensNav{
    color: #BDD7FF;
    font-family: Kanit-Regular, Arial;
    text-decoration:overline;
    font-size: 25px;
    margin-top: 33px;
    margin-right: 40px;
}

.itensNav:hover{
    text-decoration: overline #3D85C6;
}

.button-entrar{
    color: #BDD7FF;
    font-family: Kanit-Regular, Arial;
    text-decoration: none;
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #47322a;
}

.button-entrar:hover{
    background-color: #513830;
}

.linhaTransparente{
    width: 100%;
    height: 21px;
    background: rgba(51, 36, 36, 0.70);
}

.DivCompreAgora{
    height: 514px;
    background: rgba(51, 36, 36, 0.70);
    margin-top: 150px;
}

.DivCompreAgora h1{
    color: #3D85C6;
    font-family: Kanit-Regular, Arial;
    text-align: center;
    margin-right: 880px ;
    font-size: 45px;
}

.DivCompreAgora img{
    float: right;
    margin-right: 30px;
    margin-top: -80px;
}

.DivCompreAgora p{
    color: #BDD7FF;
    font-family: Kanit-Regular, Arial;
    text-align: center;
    font-size: 45px;
}

.DivCompreAgora a{
    color: #BDD7FF;
    margin-left: 340px;
    font-family: Kanit-Regular, Arial;
    text-decoration: none;
    font-size: 50px;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, #8D8D8D 150%);
}

.DivCompreAgora a:hover{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, #8D8D8D 200%);
}

.Main{
    width: 100%;
    height: 2326px;
    background: rgba(51, 36, 36, 0.70);
}

.DivDiferenciais{
    height: 640px;
    background: rgba(51, 36, 36, 0.70);
    margin-top: 150px;
}

.DivDiferenciais h2{
    text-align: center;
    padding-top: 20px;
    color: #BDD7FF;
    font-family: Kanit-Regular, Arial;
    font-size: 45px;
    font-weight: 500;
    margin-left: -300px;
}

.DivDiferenciais img{
    float: right;
    margin-top: 50px;
    margin-right: 70px;
}

.DivDiferenciais p{
    text-align: center;
    width: 1164px;
    height: 97px;
    font-family: Kanit-Regular, Arial;
    font-size: 40px;
    color: #BDD7FF;
    margin-left: 170px;
    margin-top: 100px;
}

.search-container {
    float: right;
}

input[type=text] {
    padding: 6px;
    margin-top: 90px;
    margin-left: 50px;
    width: 345px;
    font-size: 17px;
    border: none;
}

 input::placeholder{
    color: black;
    padding: 9px;
    font-family: Kanit-Regular, Arial;
}
  
.search-container button {
    float: right;
    padding: 16px 16px;
    margin-top: 90px ;
    margin-right: 70px ;
    background: #ffffff;
    border: none;
    cursor: pointer;
    background-image: url("/Projeto-Final-IHC/imgs/Lupa.png");
}

.Artigos{
    width: 1920px;
}

.Artigos img{
    width: 395px;
    height: 500px;
    margin-top: 30px;
    cursor: pointer;
}

.QuemSomos{
    height: 512px;
    background: rgba(51, 36, 36, 0.70);
    margin-top: 150px;
}

.QuemSomos h2{
    text-align: center;
    padding-top: 20px;
    color: #BDD7FF;
    font-family: Kanit-Regular, Arial;
    font-size: 45px;
    font-weight: 500;
    margin-right: 600px;
}

.QuemSomos img{
    float: right;
    margin-top: 50px;
    margin-right: 70px;
    width: 546px;
    height: 121px;
}

.QuemSomos p{
    text-align: center;
    width: 1164px;
    height: 97px;
    font-family: Kanit-Regular, Arial;
    font-size: 40px;
    color: #BDD7FF;
    margin-left: 50px;
    margin-top: 50px;
}

.Rodape {

    left: 0;
    bottom: 12px;
    width: 100%;
    background: #362A2A;
    padding-top: 60px;
  }
  
  footer.topFooter > img {
    height: 50px;
    margin: 0 auto 50px;
  }
  
  footer {
    position: relative;
    margin: 0 30px;
    color: rgba(189, 215, 255, 0.70);
    font-family: Kanit-Regular, Arial;
  }

  footer a{
    cursor:pointer;
  }
  
  footer.topFooter {
    display: grid;
    border-bottom: 2px solid rgb(255 255 255 / 20%);
    padding-bottom: 20px;
  }
  
  footer.bottomFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    gap: 8px;
    padding: 20px 0;
    text-align: center;
  }
  
  footer.topFooter .links {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin-bottom: 30px;
  }
  
  .links-column {
    display: grid;
    gap: 10px;
    text-align: center;
  }
  
  footer h2 {
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #3D85C6;
  }
  
  footer p {
    margin: 0;
  }
  
  .legal > a {
    margin: 0 0 0 4px;
  }
  
  .legal,
  .copyright {
    font-size: 12px;
  }
  
  .legal > span {
    margin-right: 10px;
  }
  
  footer.topFooter .socials {
    position: absolute;
    left: 50%;
    bottom: 10px;
    translate: -50% 0;
    display: flex;
    align-items: center;
    gap: 18px;
    height: 56px;
  }
  
  footer.topFooter .socials > a {
    font-size: 24px;
  }
  
  .socials-column :is(h2, p) {
    display: none;
  }
  
  @media (width > 400px) {
    .links-column {
      text-align: left;
    }
  
    footer.topFooter .links {
      grid-template-columns: repeat(2, 1fr);
      margin-right: 50px;
    }
  
    footer.bottomFooter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      gap: 20px;
      text-align: left;
    }
  
    footer.topFooter .socials {
      left: 0;
      translate: 0;
    }
  
    footer.topFooter .socials a img{
        width: 45px;
        height: 50px;
    }

    footer.topFooter > img {
      margin: 0 0 50px;
    }
  }
  
  @media (width >= 640px) {
    footer {
      margin: 0 auto;
      max-width: 580px;
      padding: 0;
    }
  
    footer.topFooter .links {
      grid-template-columns: repeat(3, 1fr);
    }
  
    footer.topFooter .socials {
      position: static;
    }
  
    footer.bottomFooter {
      justify-content: flex-start;
    }
  
    .socials-column :is(h2, p) {
      display: block;
    }
  }